.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  color: #fff;
}

.info {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}

.ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 18px;
}

.ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ul div {
  display: flex;
  align-items: center;
  gap: 26px;
}
